/** @format */

.filterSectionWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 35px;
  padding-bottom: 10px;
}

.tab {
  color: var(--var-color-white) !important;
  font-weight: 700 !important;
  text-transform: none !important;
}
