/** @format */

.wrapper {
  min-height: auto;
  width: 563px;
  max-height: 280px;
  overflow: hidden;
  overflow-y: scroll;
  flex-shrink: 0;
  border-bottom-left-radius: 8px;
  border: 1px solid #34c94b;
  background: #121212;
  margin-left: 14px;
  margin-bottom: none;
  margin-top: none;
}

.menuItemWrapper {
  width: 100%;
  flex-shrink: 0;
  background: #1a1a1a;
}

@media (max-width: 480) {
  .wrapper {
    width: 250px;
    overflow-x: scroll;
    flex-shrink: 0;
    border: 1px solid #34c94b;
    border-bottom-left-radius: 8px;
    background: #121212;
    margin-left: 10px;
    margin-bottom: none;
    margin-top: none;
  }
}
